<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cloudcore.dao.UserDao">
    <cache />

    <insert id="addUser" parameterType="Users">
        insert into beauty(`name`, sex, borndate, phone, photo, boyfriend_id)
        values(#{name},#{sex},#{borndate},#{phone},#{photo},#{boyfriend_id})
    </insert>

    <delete id="delUserById" parameterType="int">
        delete from beauty
        <where>
            and `id`= #{id}
        </where>
    </delete>

    <update id="updateUser" parameterType="Users">
        update beauty
        <set>
            <if test="name != null">
                `name`=#{name}
            </if>
            <if test="sex != null">
                `sex`=#{sex}
            </if>
            <if test="borndate != null">
                `borndate`=#{borndate}
            </if>
            <if test="phone != null">
                `phone`=#{phone}
            </if>
            <if test="photo != null">
                `photo`=#{photo}
            </if>
            <if test="phone != null">
                `boyfriend_id`=#{boyfriend_id}
            </if>
        </set>
        <where>
            and `id`=#{id}
        </where>
    </update>

    <select id="queryUserById" parameterType="int" resultType="Users">
        select * from beauty
        <where>
            and `id`=#{id}
        </where>
    </select>

    <select id="queryUsers" parameterType="String" resultType="Users">
        select * from beauty
        <bind name="name_like" value='"%" + str + "%"'/>
        <where>
            and `name` like #{name_like}
        </where>
    </select>
</mapper>